<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>La Mia Pasta</title>
    <!--    *****-->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!--    *****-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/dist/css/app.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-moment/4.1.0/vue-moment.min.js" integrity="sha512-+Gdo3ccolMkzxcVKia6vyl5ft5AAVw8AtOYp90xebqlv2qSVXAi9Pa77IGfbLqBTPTwNQc6w41pssGNM8kfZCA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script src="https://unpkg.com/vuejs-datepicker"></script>
    <script src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/ru.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.1/moment.min.js"></script>
<body>
<div id="app">
    <header>
        <div class="container-fluid">
            <div class="contact-block">
                <a href="tel:89254770607">+7 (925) 477-06-07 </a>
                <div class="info">
                    <p>Производство 10.00 - 18.00</p>
                    <p>Доставка ПН - СБ 11.00 - 23.00</p>
                </div>
            </div>
            <div class="logo-block">
                <div class="header-link">
                    <a href="/">Pasta Fresca</a>
                </div>
                <a href="/" class="logo">
                    <img src="/src/img/logo-2.svg" alt="">
                </a>
                <div class="header-link">
                    <a href="/recipes">Наши рецепты</a>
                </div>
            </div>
            <div class="action-burger-group">
                <div class="actions-block">
                    <a @click="openCartModal = !openCartModal" class="link-block cart-link" style="opacity: 0;">
                        <div class="icon">
                            <img src="/src/img/buy.svg" alt="">
                        </div>
                        <div v-if="false" class="text">
                            <p>Корзина</p>
                        </div>
                        <div v-if="true" class="cart-not-empty">
                            <span class="cart-not-empty-quantity">{{cartArr.length}}</span>
                            <span class="cart-not-empty-sum">{{orderSum || '0'}} р.</span>
                        </div>
                    </a>
                    <!--                    <a href="#" class="link-block auth-link">-->
                    <!--                        <div class="icon">-->
                    <!--                            <img src="src/img/icons/profile.svg" alt="">-->
                    <!--                        </div>-->
                    <!--                        <div class="text">-->
                    <!--                                <p>Войти</p>-->
                    <!--                        </div>-->
                    <!--                    </a>-->
                </div>
                <div class="burger-block" @click="openModal = !openModal">
                    <div class="burger custom-action-button">
                        <div class="burger-icon">
                            <img v-if="!openModal" class="open-state-icon" src="/src/img/icons/menu.svg" alt="">
                            <img v-if="openModal" class="close-state-icon" src="/src/img/icons/close.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu" :class="{active: openModal}">
            <ul>
                <li>
                    <a href="/">Pasta Fresca</a>
                </li>
                <li>
                    <a href="/recipes">Наши рецепты</a>
                </li>
            </ul>
            <div class="mobile-actions-block">
                <div class="mobile-contact-block">
                    <a href="#">+7 (495) 111-22-33</a>
                    <p>Ежедневно 08:00 - 23:00</p>
                </div>
            </div>
        </div>
    </header>
    <!--    <pre>-->
    <!--        {{cartArr}}-->
    <!--    </pre>-->
    <!--    <button @click="createOrder()" class="btn btn-success">-->
    <!--        send test-->
    <!--    </button>-->
    <!--    <button @click="postSend()" class="btn btn-danger">TEST SER</button>-->
    <main>
        <div class="container-fluid">
            <div class="block-dev">
                <div class="title">
                    <h2>Раздел находится в стадии разработки</h2>
                </div>
                <div class="image">
                    <img src="/src/img/emp.png" alt="">
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container-fluid">
            <div class="footer-logo-block">
                <img src="/src/img/logo-2.svg" alt="">
            </div>
            <div class="footer-menu-block">
                <ul class="footer-menu-block-list">
                    <li><a class="orange-link" href="/">Pasta Fresca</a></li>
                    <!--                    <li><a class="orange-link" href="#">Кейтеринг</a></li>-->
                    <li><a class="orange-link" href="/offer">Договор оферты</a></li>
                </ul>
                <div class="footer-menu-block-copyright">
                    <p>Copyright © Ingustos 2021. All Rights Reserved.  </p>
                </div>
            </div>
            <div class="footer-info-block">
                <div class="cards-social-block">
                    <div class="cards-icons">
                        <ul class="cards-icons-list">
                            <li class="cards-icons-list-item">
                                <a href="#">
                                    <img src="/src/img/icons/cards/visa.svg" alt="">
                                </a>
                            </li>
                            <li class="cards-icons-list-item">
                                <a href="#">
                                    <img src="/src/img/icons/cards/mir.svg" alt="">
                                </a>
                            </li>
                            <li class="cards-icons-list-item">
                                <a href="#">
                                    <img src="/src/img/icons/cards/mastercard.svg" alt="">
                                </a>
                            </li>
                            <li class="cards-icons-list-item">
                                <a href="#">
                                    <img src="/src/img/icons/cards/googlepay.svg" alt="">
                                </a>
                            </li>
                            <li class="cards-icons-list-item">
                                <a href="#">
                                    <img src="/src/img/icons/cards/applepay.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="social-icons">
                        <ul class="social-icons-list">
                            <li class="social-icons-list-item">
                                <a href="https://instagram.com/lamiapasta_ru?igshid=YmMyMTA2M2Y=" target="_blank">
                                    <img src="/src/img/icons/socials/instagram.svg" alt="">
                                </a>
                            </li>
                            <li class="social-icons-list-item">
                                <a href="#">
                                    <img src="/src/img/icons/socials/vkontakte.svg" alt="">
                                </a>
                            </li>
                            <li class="social-icons-list-item">
                                <a href="https://www.facebook.com/lamiapastamsk/" target="_blank">
                                    <img src="/src/img/icons/socials/facebook.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="contacts">
                    <a href="tel: 89254770607">+7 (925) 477-06-07</a>
                    <div class="info">
                        <p>Производство 10.00 - 18.00</p>
                        <p>Доставка ПН - СБ 11.00 - 23.00</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/index.js"></script>
<script>
    moment().format();
</script>
</body>
</html>

