<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>La Mia Pasta</title>
    <!--    *****-->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!--    *****-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/dist/css/app.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-moment/4.1.0/vue-moment.min.js" integrity="sha512-+Gdo3ccolMkzxcVKia6vyl5ft5AAVw8AtOYp90xebqlv2qSVXAi9Pa77IGfbLqBTPTwNQc6w41pssGNM8kfZCA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script src="https://unpkg.com/vuejs-datepicker"></script>
    <script src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/ru.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.1/moment.min.js"></script>
<body>
<div id="app">
    <header>
        <div class="container-fluid">
            <div class="contact-block">
                <a href="#">+7 (925) 477-06-07 </a>
                <div class="info">
                    <p>Производство 10.00 - 18.00</p>
                    <p>Доставка ПН - СБ 11.00 - 23.00</p>
                </div>
            </div>
            <div class="logo-block">
                <div class="header-link">
                    <a href="/">Гастробоксы</a>
                </div>
                <a href="/" class="logo">
                    <img src="/src/img/logo-2.svg" alt="">
                </a>
                <div class="header-link">
                    <a href="/recipes">Наши рецепты</a>
                </div>
            </div>
            <div class="action-burger-group">
                <div class="actions-block">
                    <a @click="openCartModal = !openCartModal" class="link-block cart-link" style="opacity: 0;">
                        <div class="icon">
                            <img src="/src/img/buy.svg" alt="">
                        </div>
                        <div v-if="false" class="text">
                            <p>Корзина</p>
                        </div>
                        <div v-if="true" class="cart-not-empty">
                            <span class="cart-not-empty-quantity">{{cartArr.length}}</span>
                            <span class="cart-not-empty-sum">{{orderSum || '0'}} р.</span>
                        </div>
                    </a>
                    <!--                    <a href="#" class="link-block auth-link">-->
                    <!--                        <div class="icon">-->
                    <!--                            <img src="src/img/icons/profile.svg" alt="">-->
                    <!--                        </div>-->
                    <!--                        <div class="text">-->
                    <!--                            <p>Войти</p>-->
                    <!--                        </div>-->
                    <!--                    </a>-->
                </div>
                <div class="burger-block" @click="openModal = !openModal">
                    <div class="burger custom-action-button">
                        <div class="burger-icon">
                            <img v-if="!openModal" class="open-state-icon" src="/src/img/icons/menu.svg" alt="">
                            <img v-if="openModal" class="close-state-icon" src="/src/img/icons/close.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu" :class="{active: openModal}">
            <ul>
                <li>
                    <a href="/">Гастробоксы</a>
                </li>
                <li>
                    <a href="/recipes">Наши рецепты</a>
                </li>
            </ul>
            <div class="mobile-actions-block">
                <div class="mobile-contact-block">
                    <a href="#">+7 (495) 111-22-33</a>
                    <p>Ежедневно 08:00 - 23:00</p>
                </div>
            </div>
        </div>
    </header>
    <!--    <pre>-->
    <!--        {{cartArr}}-->
    <!--    </pre>-->
    <!--    <button @click="createOrder()" class="btn btn-success">-->
    <!--        send test-->
    <!--    </button>-->
    <!--    <button @click="postSend()" class="btn btn-danger">TEST SER</button>-->
    <main>
        <div class="container-fluid offer">
            <div class="offer-title">
                <h2>Договор-оферта интернет-магазина:</h2>
            </div>
            <div class="offer-text-block">
                <p>ООО "ГЕТТАГЛОД", в лице интернет-магазина www.lamiapasta.ru (далее ПРОДАВЕЦ), публикует настоящий
                    договор, являющийся публичным договором-офертой в адрес как физических, так и юридических лиц (далее
                    ПОКУПАТЕЛЬ) о нижеследующем:
                </p>
            </div>
            <div class="offer-title">
                <h3>1. Предмет договора-оферты.</h3>
            </div>
            <div class="offer-list-block">
                <ul>
                    <li>
                        <span>1.1</span>ПРОДАВЕЦ обязуется передать в собственность ПОКУПАТЕЛЮ, а ПОКУПАТЕЛЬ обязуется
                        оплатить и принять заказанные в интернет-магазине www.lamiapasta.ru продукты питания (далее
                        ТОВАР).
                    </li>
                </ul>
            </div>
            <div class="offer-title">
                <h3>2. Момент заключения договора.</h3>
            </div>
            <div class="offer-list-block">
                <ul>
                    <li>
                        <span>2.1</span>Текст данного Договора является публичной офертой (в соответствии со статьей 435
                        и частью 2 статьи 437 Гражданского кодекса РФ).
                    </li>
                    <li>
                        <span>2.2</span>Факт оформления ЗАКАЗА ТОВАРА у ПРОДАВЦА как самостоятельно, так и через
                        оператора, является безоговорочным принятием данного Договора, и ПОКУПАТЕЛЬ рассматривается как
                        лицо, вступившее с ООО «ГЕТТАГЛОД» в договорные отношения.
                    </li>
                    <li>
                        <span>2.2</span>Оформление ЗАКАЗА ТОВАРА и расчета осуществляется путем заказа ПОКУПАТЕЛЕМ в
                        интернет-магазине www.lamiapasta.ru .
                    </li>
                </ul>
            </div>
            <div class="offer-title">
                <h3>3. Цена ТОВАРА.</h3>
            </div>
            <div class="offer-list-block">
                <ul>
                    <li>
                        <span>3.1</span>Цены в интернет-магазине указаны в валюте страны покупателя за единицу ТОВАРА.
                    </li>
                    <li>
                        <span>3.2</span>Тарифы на оказание услуг по доставке, разгрузке, подъеме и сборке ТОВАРА указаны
                        в интернет-магазине на каждый ТОВАР в зависимости от его характеристики.
                    </li>
                    <li>
                        <span>3.3</span>Общая сумма ЗАКАЗА, которая в некоторых случаях (по желанию покупателя) может
                        включать платную доставку и сборку ТОВАРА, указывается в разделе «Корзина» в строке «Итого».
                    </li>
                </ul>
            </div>
            <div class="offer-title">
                <h3>4. Оплата ТОВАРА.</h3>
            </div>
            <div class="offer-list-block">
                <ul>
                    <li>
                        <span>4.1</span>При наличной форме оплаты ПОКУПАТЕЛЬ обязан уплатить ПРОДАВЦУ цену ТОВАРА в
                        момент его передачи, а ПРОДАВЕЦ обязан предоставить ПОКУПАТЕЛЮ кассовый или товарный чек, или
                        иной документ, подтверждающий оплату ТОВАРА.
                    </li>
                    <li>
                        <span>4.2</span>При безналичной форме оплаты обязанность ПОКУПАТЕЛЯ по уплате цены ТОВАРА
                        считается исполненной с момента списания денежных средств в размере 100% (ста процентов)
                        предоплаты с расчетного счета ПОКУПАТЕЛЯ в банке, кредитной организации, оказывающей в
                        соответствии с действующим законодательством Российской Федерации платежные услуги населению, в
                        том числе с использованием электронных денежных средств.
                    </li>
                    <li>
                        <span>4.3</span>При безналичной форме оплаты просрочка уплаты ПОКУПАТЕЛЕМ цены ТОВАРА на срок
                        свыше 5 (пяти) дней является существенным нарушением настоящего договора. В этом случае ПРОДАВЕЦ
                        вправе в одностороннем порядке отказаться от исполнения настоящего договора, уведомив об этом
                        ПОКУПАТЕЛЯ.
                    </li>
                    <li>
                        <span>4.4</span>ТОВАРЫ поставляются ПОКУПАТЕЛЮ по ценам, наименованию, в количестве,
                        соответствующем счету, оплаченному ПОКУПАТЕЛЕМ.
                    </li>
                </ul>
            </div>
            <div class="offer-title">
                <h3>5. Доставка ТОВАРА.</h3>
            </div>
            <div class="offer-list-block">
                <ul>
                    <li>
                        <span>5.1</span>Доставка ТОВАРА ПОКУПАТЕЛЮ осуществляется по адресу и в сроки, согласованные
                        ПОКУПАТЕЛЕМ и менеджером ПРОДАВЦА при оформлении ЗАКАЗА, либо ПОКУПАТЕЛЬ самостоятельно забирает
                        товар со склада ПРОДАВЦА по адресу, указанному в п. 13 (Реквизиты магазина) настоящего ДОГОВОРА.
                    </li>
                    <li>
                        <span>5.2</span>Точная стоимость доставки ТОВАРА определяется менеджером ПРОДАВЦА при оформлении
                        заказа и не может быть изменена после согласования ПОКУПАТЕЛЕМ.
                    </li>
                    <li>
                        <span>5.3</span>Неявка ПОКУПАТЕЛЯ или не совершение иных необходимых действий для принятия
                        ТОВАРА могут рассматриваться ПРОДАВЦОМ в качестве отказа ПОКУПАТЕЛЯ от исполнения ДОГОВОРА.
                    </li>
                </ul>
            </div>
            <div class="offer-title">
                <h3>6. Гарантии на ТОВАР.</h3>
            </div>
            <div class="offer-list-block">
                <ul>
                    <li>
                        <span>6.1</span>На всю продукцию, продающуюся в Интернет-магазине www.lamiapasta , имеются все
                        необходимые сертификаты качества и санитарно-гигиенические заключения.
                    </li>
                    <li>
                        <span>6.2</span>Гарантийный срок эксплуатации на ТОВАР устанавливает производитель. Срок
                        гарантии указывается в гарантийном талоне.
                    </li>
                </ul>
            </div>
            <div class="offer-title">
                <h3>7. Права и обязанности сторон. </h3>
            </div>
            <div class="offer-list-block">
                <ul>
                    <li>
                        <span>7.1</span>ПРОДАВЕЦ обязуется:
                    </li>
                    <li>
                        <span>7.1.1</span>до заключения договора предоставить ПОКУПАТЕЛЮ информацию об основных
                        потребительских свойствах ТОВАРА, об адресе (месте нахождения) ПРОДАВЦА, о месте изготовления
                        ТОВАРА, о полном фирменном наименовании (наименовании) ПРОДАВЦА, о цене и об условиях
                        приобретения товара, о его доставке, сроке службы, сроке годности и гарантийном сроке, о порядке
                        оплаты товара, а также о сроке, в течение которого действует предложение о заключении Договора.
                    </li>
                    <li>
                        <span>7.1.2</span>Не разглашать любую частную информацию ПОКУПАТЕЛЯ и не предоставлять доступ к
                        этой информации третьим лицам, за исключением случаев, предусмотренных Российским
                        законодательством.
                    </li>
                    <li>
                        <span>7.1.3</span>Предоставить ПОКУПАТЕЛЮ возможность получения бесплатных телефонных
                        консультаций по телефонам, указанным на сайте магазина (www.lamiapasta ). Объем консультаций
                        ограничивается конкретными вопросами, связанными с выполнениями ЗАКАЗА.
                    </li>
                    <li>
                        <span>7.1.4</span>ПРОДАВЕЦ оставляет за собой право изменять настоящий ДОГОВОР в одностороннем
                        порядке до момента его заключения.
                    </li>
                    <li>
                        <span>7.1.5</span>Предоставить Потребителю в момент доставки товара в письменной форме
                        информацию о товаре, предусмотренную статьей 10 Федерального закона «О защите прав
                        потребителей», а также предусмотренную пунктом 10 настоящего Договора информацию о порядке и
                        сроках возврата товара.
                    </li>
                    <li>
                        <span>7.2</span>ПОКУПАТЕЛЬ обязуется:
                    </li>
                    <li>
                        <span>7.2.1</span>До момента заключения ДОГОВОРА ознакомиться с содержанием договора-оферты,
                        условиями оплаты и доставки на сайте магазина (www.lamiapasta ).
                    </li>
                    <li>
                        <span>7.2.2</span>Предоставлять достоверную информацию о себе (ФИО, контактные телефоны, адрес
                        электронной почты) и реквизиты для доставки ТОВАРА.
                    </li>
                    <li>
                        <span>7.2.3</span>Принять и оплатить ТОВАР в указанные в настоящем ДОГОВОРЕ сроки.
                    </li>
                </ul>
            </div>
            <div class="offer-title">
                <h3>8. Ответственность сторон и разрешение споров.</h3>
            </div>
            <div class="offer-list-block">
                <ul>
                    <li>
                        <span>8.1</span>Стороны несут ответственность за неисполнение или ненадлежащее исполнение
                        настоящего ДОГОВОРА в порядке, предусмотренном настоящим ДОГОВОРОМ и действующим
                        законодательством РФ.
                    </li>
                    <li>
                        <span>8.2</span>Продавец не несет ответственности за доставку ЗАКАЗА, если ПОКУПАТЕЛЕМ указан
                        неправильный адрес доставки.
                    </li>
                    <li>
                        <span>8.3</span>ПРОДАВЕЦ не несет ответственности, если ожидания ПОКУПАТЕЛЯ о потребительских
                        свойствах ТОВАРА оказались не оправданы.
                    </li>
                    <li>
                        <span>8.4</span>ПРОДАВЕЦ не несет ответственности за частичное или полное неисполнение
                        обязательств по доставке ТОВАРА, если они являются следствием форс-мажорных обстоятельств.
                    </li>
                    <li>
                        <span>8.5</span>ПОКУПАТЕЛЬ, оформляя ЗАКАЗ, несет ответственность за достоверность
                        предоставляемой информации о себе, а также подтверждает, что с условиями настоящего ДОГОВОРА
                        ознакомлен и согласен.
                    </li>
                    <li>
                        <span>8.6</span>Все споры и разногласия, возникающие при исполнении СТОРОНАМИ обязательств по
                        настоящему Договору, решаются путем переговоров. В случае невозможности их устранения, СТОРОНЫ
                        имеют право обратиться за судебной защитой своих интересов.
                    </li>
                </ul>
            </div>
            <div class="offer-title">
                <h3>9. Возврат и обмен товара.</h3>
            </div>
            <div class="offer-list-block">
                <ul>
                    <li>
                        <span>9.1</span>Требование ПОКУПАТЕЛЯ об обмене либо о возврате ТОВАРА подлежит удовлетворению,
                        если ТОВАР не был в употреблении, сохранены его потребительские свойства, сохранена и не
                        нарушена упаковка, сохранены документы, подтверждающие факт покупки этого ТОВАРА в
                        интернет-магазине www.lamiapasta .
                    </li>
                    <li>
                        <span>9.2</span>Срок такого требования составляет 7 (семь) дней с момента передачи ТОВАРА
                        ПОКУПАТЕЛЮ, либо в любое время до передачи ТОВАРА ПОКУПАТЕЛЮ.
                    </li>
                    <li>
                        <span>9.3</span>ПОКУПАТЕЛЬ компенсирует ПРОДАВЦУ необходимые транспортные расходы, понесенные в
                        связи с организацией обмена или возврата ТОВАРА.
                    </li>
                </ul>
            </div>
            <div class="offer-title">
                <h3>10. Форс-мажорные обстоятельства.</h3>
            </div>
            <div class="offer-list-block">
                <ul>
                    <li>
                        <span>10.1</span>Стороны освобождаются от ответственности за неисполнение или ненадлежащее
                        исполнение обязательств по Договору на время действия непреодолимой силы. Под непреодолимой
                        силой понимаются чрезвычайные и непреодолимые при данных условиях обстоятельства, препятствующие
                        исполнению своих обязательств СТОРОНАМИ по настоящему Договору. К ним относятся стихийные
                        явления (землетрясения, наводнения и т. п.), обстоятельства общественной жизни (военные
                        действия, чрезвычайные положения, крупнейшие забастовки, эпидемии и т. п.), запретительные меры
                        государственных органов (запрещение перевозок, валютные ограничения, международные санкции
                        запрета на торговлю и т. п.). В течение этого времени СТОРОНЫ не имеют взаимных претензий, и
                        каждая из СТОРОН принимает на себя свой риск последствия форс-мажорных обстоятельств.
                    </li>
                </ul>
            </div>
            <div class="offer-title">
                <h3>11. Срок действия договора.</h3>
            </div>
            <div class="offer-list-block">
                <ul>
                    <li>
                        <span>11.1</span>Настоящий ДОГОВОР вступает в силу с момента обращения в ООО «ГЕТТАГЛОД» и
                        оформления ЗАКАЗА, и заканчивается при полном исполнении обязательств СТОРОНАМИ.
                    </li>
                </ul>
            </div>
            <div class="offer-title">
                <h3>12. Срок действия договора.</h3>
            </div>
            <div class="offer-list-block">
                <ul>
                    <li>
                        <span>12.1</span>ПРОДАВЕЦ собирает и обрабатывает персональные данные ПОКУПАТЕЛЕЙ (а именно:
                        фамилия, имя, отчество ПОКУПАТЕЛЯ; адрес доставки; контактный телефон) в целях:<br>
                        * выполнения условий настоящего Договора;<br>
                        * доставки Покупателю заказанного Товара.
                    </li>
                    <li>
                        <span>12.2</span>Осуществляя ЗАКАЗ ТОВАРА в интернет-магазине www.lamiapasta , ПОКУПАТЕЛЬ дает
                        согласие на сбор и обработку персональных данных о себе в целях осуществления доставки
                        заказанного ТОВАРА и исполнения условий настоящего ДОГОВОРА.
                    </li>
                    <li>
                        <span>12.3</span>При сборе и обработке персональных данных ПОКУПАТЕЛЕЙ, ПРОДАВЕЦ не преследует
                        иных целей, кроме установленных в п.12.1 настоящего ДОГОВОРА.
                    </li>
                    <li>
                        <span>12.4</span>Доступ к персональным данным ПОКУПАТЕЛЕЙ имеют только лица, имеющие
                        непосредственное отношение к исполнению ЗАКАЗОВ.
                    </li>
                </ul>
            </div>
            <div class="offer-title">
                <h3>13. Реквизиты.</h3>
            </div>
            <div class="offer-text-block">
                <p>ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ГЕТТАГЛОД"</p>
                <p>ИНН: 9719026484</p>
                <p>КПП: 771901001</p>
                <p>ОГРН: 1227700314940</p>
                <p>Юридический /фактический адрес компании: площадь Журавлёва, д. 2, корп./ст. 2, г. Москва</p>
            </div>
            <!--            <div class="offer-title">-->
            <!--                <h3>Заголовок</h3>-->
            <!--            </div>-->
            <!--            <div class="offer-text-block">-->
            <!--                <p>В связи с тем, что покупка Электронного билета является полностью самостоятельным процессом и-->
            <!--                    самостоятельным выбором Покупателя, Исполнитель не несет ответственность за ошибочный или-->
            <!--                    неправильный выбор Покупателем даты спектакля, названия спектакля, время спектакля, сектора зала,-->
            <!--                    ряда, места и стоимости билета. Выбранные билеты должны быть проверены Покупателем до момента оплаты-->
            <!--                    заказа.-->
            <!--                    Исполнитель не несет ответственность за указание неправильного адреса электронной почты, реквизитов-->
            <!--                    банковской карты и номера телефона Покупателя. Указанные данные должны быть проверены Покупателем до-->
            <!--                    момента оплаты заказа.После оплаты заказа Покупатель обязан проверить получение Электронного билета-->
            <!--                    и его соответствие выбранному и оплаченному заказу. В случае неполучения бланка Электронного билета-->
            <!--                    по адресу электронной почты или выявления несоответствия между оплаченным заказом и Электронным-->
            <!--                    билетом Покупатель заблаговременно обращается в службу поддержки Исполнителя по телефону 8 (499) 322-->
            <!--                    31 06 или на электронный адрес help@intickets.ru для выяснения и устранения такого-->
            <!--                    несоответствия.</p>-->
            <!--            </div>-->
        </div>
    </main>
    <footer>
        <div class="container-fluid">
            <div class="footer-logo-block">
                <img src="/src/img/logo-2.svg" alt="">
            </div>
            <div class="footer-menu-block">
                <ul class="footer-menu-block-list">
                    <li><a class="orange-link" href="/">Гастробоксы</a></li>
                    <!--                    <li><a class="orange-link" href="#">Кейтеринг</a></li>-->
                    <li><a class="orange-link" href="/offer">Договор оферты</a></li>
                </ul>
                <div class="footer-menu-block-copyright">
                    <p>Copyright © Ingustos 2021. All Rights Reserved.  </p>
                </div>
            </div>
            <div class="footer-info-block">
                <div class="cards-social-block">
                    <div class="cards-icons">
                        <ul class="cards-icons-list">
                            <li class="cards-icons-list-item">
                                <a href="#">
                                    <img src="/src/img/icons/cards/visa.svg" alt="">
                                </a>
                            </li>
                            <li class="cards-icons-list-item">
                                <a href="#">
                                    <img src="/src/img/icons/cards/mir.svg" alt="">
                                </a>
                            </li>
                            <li class="cards-icons-list-item">
                                <a href="#">
                                    <img src="/src/img/icons/cards/mastercard.svg" alt="">
                                </a>
                            </li>
                            <li class="cards-icons-list-item">
                                <a href="#">
                                    <img src="/src/img/icons/cards/googlepay.svg" alt="">
                                </a>
                            </li>
                            <li class="cards-icons-list-item">
                                <a href="#">
                                    <img src="/src/img/icons/cards/applepay.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="social-icons">
                        <ul class="social-icons-list">
                            <li class="social-icons-list-item">
                                <a href="https://instagram.com/lamiapasta_ru?igshid=YmMyMTA2M2Y=" target="_blank">
                                    <img src="/src/img/icons/socials/instagram.svg" alt="">
                                </a>
                            </li>
                            <li class="social-icons-list-item">
                                <a href="#">
                                    <img src="/src/img/icons/socials/vkontakte.svg" alt="">
                                </a>
                            </li>
                            <li class="social-icons-list-item">
                                <a href="https://www.facebook.com/lamiapastamsk/" target="_blank">
                                    <img src="/src/img/icons/socials/facebook.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="contacts">
                    <a href="tel: 89254770607">+7 (925) 477-06-07</a>
                    <div class="info">
                        <p>Производство 10.00 - 18.00</p>
                        <p>Доставка ПН - СБ 11.00 - 23.00</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/index.js"></script>
<script>
    moment().format();
</script>
</body>
</html>

