<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="dist/css/app.min.css">
</head>
<body>
<div id="app">
    <header>
        <div class="container-fluid">
            <div class="contact-block">
                <a href="#">+7 (495) 111-22-33</a>
                <p>Ежедневно 08:00 - 23:00</p>
            </div>
            <div class="logo-block">
                <div class="header-link">
                    <a href="#">Гастробоксы</a>
                </div>
                <a href="#" class="logo">
                    <img src="src/img/logo.svg" alt="">
                </a>
                <div class="header-link">
                    <a href="#">Кейтеринг</a>
                </div>
            </div>
            <div class="action-burger-group">
                <div class="actions-block">
                    <a href="#" class="link-block cart-link">
                        <div class="icon">
                            <img src="src/img/buy.svg" alt="">
                        </div>
                        <div class="text">
                            <p>Корзина</p>
                        </div>
                    </a>
                    <a href="#" class="link-block auth-link">
                        <div class="icon">
                            <img src="src/img/icons/profile.svg" alt="">
                        </div>
                        <div class="text">
                            <p>Войти</p>
                        </div>
                    </a>
                </div>
                <div class="burger-block">
                    <div class="burger custom-action-button">
                        <div class="burger-icon">
                            <img class="open-state-icon" src="src/img/icons/menu.svg" alt="">
                            <img class="close-state-icon" src="src/img/icons/close.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu">
            <div class="container-fluid">
                <div class="mobile-actions-block">
                    <div class="mobile-actions-block-icon">
                        <img src="src/img/icons/profile.svg" alt="">
                    </div>
                    <div class="mobile-actions-block-text">
                        <p>Войти</p>
                    </div>
                    <div class="mobile-menu">
                        <ul>
                            <li>
                                <a href="#">Гастробоксы</a>
                            </li>
                            <li>
                                <a href="#">Кейтеринг</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mobile-contact-block">
                        <a href="#">+7 (495) 111-22-33</a>
                        <p>Ежедневно 08:00 - 23:00</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="first-block">
            <div class="background-image">
                <img src="src/img/background-first.png" alt="">
            </div>
        </div>
        <div class="container">
            <div class="card">
                <a href="#" class="card-image-block">
                    <div class="labels">
                        <div class="label-item">
                            <span>ХИТ!</span>
                        </div>
                        <div class="label-item">
                            <img src="src/img/icons/veget.svg" alt="">
                        </div>
                    </div>
                </a>
                <div class="card-content-block">
                    <div class="card-content-block-title">
                        <p>Рыбный праздник</p>
                    </div>
                    <div class="card-content-block-description">
                        <p>Ассорти тарталеток: риет из лосося с мидией, икра палтуса с огурцом, икра лососевая,
                            икра щучья, тигровая креветка, лосось с творожным сыром  </p>
                    </div>
                    <div class="card-content-block-sizes">
                        <div class="size-block">
                            <span>S</span>
                        </div>
                        <div class="size-block">
                            <span>M</span>
                        </div>
                        <div class="size-block">
                            <span>L</span>
                        </div>
                    </div>
                    <div class="card-content-block-sub-info">
                        <div class="sub-info-block">
                            <p>5 человек</p>
                        </div>
                        <div class="dot-delimiter">
                            <div class="marker"></div>
                        </div>
                        <div class="sub-info-block">
                            <p>1230 г.</p>
                        </div>
                    </div>
                    <div class="card-content-block-price">
                        <div class="price-num">
                            <div class="main-price">
                                <p>2199 р.</p>
                            </div>
                            <div class="discount-price">
                                <div class="percent">
                                    <span>50%</span>
                                </div>
                                <div class="value">
                                    <span>4398 р.</span>
                                </div>
                            </div>
                        </div>
                        <div class="price-action">
                            <a role="button" class="btn btn-success" href="#">
                                <img src="src/img/buy.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container-fluid">
            <div class="footer-logo-block">
                <img src="src/img/logo-footer.svg" alt="">
            </div>
            <div class="footer-menu-block">
                <ul class="footer-menu-block-list">
                    <li><a class="orange-link" href="#">Гастробоксы</a></li>
                    <li><a href="#">Кейтеринг</a></li>
                    <li><a href="#">Договор оферты</a></li>
                </ul>
                <div class="footer-menu-block-copyright">
                    <p>Copyright © Ingustos 2021. All Rights Reserved.  </p>
                </div>
            </div>
            <div class="footer-info-block">
                <div class="cards-social-block">
                    <div class="cards-icons">
                        <ul class="cards-icons-list">
                            <li class="cards-icons-list-item">
                                <a href="#">
                                    <img src="src/img/icons/cards/visa.svg" alt="">
                                </a>
                            </li>
                            <li class="cards-icons-list-item">
                                <a href="#">
                                    <img src="src/img/icons/cards/mir.svg" alt="">
                                </a>
                            </li>
                            <li class="cards-icons-list-item">
                                <a href="#">
                                    <img src="src/img/icons/cards/mastercard.svg" alt="">
                                </a>
                            </li>
                            <li class="cards-icons-list-item">
                                <a href="#">
                                    <img src="src/img/icons/cards/googlepay.svg" alt="">
                                </a>
                            </li>
                            <li class="cards-icons-list-item">
                                <a href="#">
                                    <img src="src/img/icons/cards/applepay.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="social-icons">
                        <ul class="social-icons-list">
                            <li class="social-icons-list-item">
                                <a href="#">
                                    <img src="src/img/icons/socials/instagram.svg" alt="">
                                </a>
                            </li>
                            <li class="social-icons-list-item">
                                <a href="#">
                                    <img src="src/img/icons/socials/vkontakte.svg" alt="">
                                </a>
                            </li>
                            <li class="social-icons-list-item">
                                <a href="#">
                                    <img src="src/img/icons/socials/facebook.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="contacts">
                    <a href="#">+7 (495) 111-22-33</a>
                    <p>Ежедневно 08:00 - 23:00</p>
                </div>
            </div>
        </div>
    </footer>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                message: 'qwerty'
            },
            mounted () {
                // alert(this.message)
            }
        })
    </script>
</body>
</html>
