@font-face {
  font-family: 'FuturaDemiC';
  src: url('../src/fonts/FuturaDemiC/futurademic.eot'); /* IE 9 Compatibility Mode */
  src: url('../src/fonts/FuturaDemiC/futurademic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../src/fonts/FuturaDemiC/futurademic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../src/fonts/FuturaDemiC/futurademic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../src/fonts/FuturaDemiC/futurademic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../src/fonts/FuturaDemiC/futurademic.svg#futurademic') format('svg'); /* Chrome < 4, Legacy iOS */
}
