.cart-step-1 {
  margin-top: 40px;
  .name-row {
    display: flex;
    flex-wrap: nowrap;
    label {
      width: 50%;
      &:first-child {
        margin-right: 20px;
      }
    }
  }
  .phone-row {
    width: 100%;
    margin-top: 32px;
    label {
      width: 100%;
    }
  }
  .email-row {
    width: 100%;
    margin-top: 32px;
    label {
      width: 100%;
    }
  }
}
